.portal-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: var(--color-fondo-panel);
}

.portal-content {
  flex: 1; /* Esto empuja el footer hacia abajo */
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}