<footer class="footer pt-5 pb-4 mt-auto">
  <div class="container text-center text-md-start">
    <div class="row">

      <div class="col-md-4 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
          <i class="bi bi-gem me-2"></i>Sonrisa Plena
        </h6>
        <p>
          Cuidamos tu sonrisa con la mejor tecnología y profesionales expertos.
        </p>
      </div>

      <div class="col-md-4 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Enlaces</h6>
        <p><a routerLink="/portal/inicio" class="text-reset">Inicio</a></p>
        <p><a routerLink="/portal/mis-citas" class="text-reset">Mis Citas</a></p>
      </div>

      <div class="col-md-4 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
        <p><i class="bi bi-geo-alt-fill me-2"></i> Av. Siempre Viva 742</p>
        <p><i class="bi bi-envelope-fill me-2"></i> contacto@dental.com</p>
      </div>

    </div>
  </div>

  <div class="copyright-section text-center p-4">
    © 2025 Clínica Dental. Todos los derechos reservados.
  </div>
</footer>