.footer {
  background-color: var(--color-fondo-sidebar); /* Usa el color azul oscuro definido en styles.css */
  color: rgba(255, 255, 255, 0.8);
}

.footer h6 {
  color: var(--color-texto-claro);
}

.footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.3s;
}

.footer a:hover {
  color: #fff !important;
}

.copyright-section {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}